* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

  }
  body {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.5;
  }
  header {
    background-color: #333;
    color: #efff00;
    padding: 20px;
    border-bottom: 4px solid #000;
    text-align: center;
  }
  #container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
  .box{
      background-color: #323432;
      color: white;
      width: 300px;
      height: 100px;
      padding: 34px;
      text-align: center;
      position: absolute;
      border: solid darkred 5px;
  }
  input{
      padding: 4px;
      margin: 5px 5px;
      border: #b10000 solid 2px;
      font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    cursor:pointer;
  }
  #space{
      border: solid black 4px;
      margin-left: 150px;
      width: 840px;
      height: 300px;
      position: relative;
  }